*.iml
**/node_modules
node_modules
**/yarn.lock
logs
.idea
api/web/build
.nyc_output
**/.nyc_output
terraform/.terraform/*
terraform/.terraform/**/*
terraform/*.log
terraform/*.tfstate
terraform/*.backup
coverage
coverage.tar.gz
package-lock.json
public/*
public/**/*
